@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("../assets/image/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-color: black;
    font-family: 'Inter', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
}
.header-wrapth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-links__item{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 30px;
}
.header-links__item:hover{
    color: #bdae82;
}
.header-links__translation{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.header-links__translation-english{
    color: #bdae82;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold; 
    padding-left: 30px;
}
.section-Alexa-Rise{
    margin: 180px 80px;
}
h1{
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 60px;
}
.section-Alexa-Rise__text{
    color: white;
    font-size: 20px;
    max-width: 470px;
}
.section-Alexa-Rise__button{   
    background-color: #bdae82;
    padding: 15px 70px;
    margin-top: 25px;
    font-size: 20px;
    border-style: none;
}
.section-Alexa-Rise__button:hover{
    color: white;
}
.section-skills{
    margin-top: 430px;
}
.section-skills__heading{
    font-size: 40px;
    color: #bdae82;
    text-align: center;
}
.section-skills__containers{
    display: flex;
    flex-direction: row;
    padding: 60px 20px;
}
.section-skills__container{
    text-align: center;
    max-width: 320px;
    padding-left: 40px;
}
.section-skills__text-heading{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 0px 20px 0px;
}
.section-skills__text{
    color: white;
    font-size: 18px;
}
.portfolio-btns{
    text-align: center;
}
.portfolio-items{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}